#back-to-top {
    bottom: 15px;
}
#target-model {
    display: none;
}
.list-info,
.content-inner {
    color: #fff;
}
h3.icon-box-title {
    color: #ffffff;
    font-size: 42px;
    line-height: 42px;
    font-weight: 600;
    margin-bottom: 30px;
}
.boxes-icon {
    background-color: #ffffff;
    width: 100px;
    height: 100px;
}
.icon i {
    color: #61bd5e;
    font-size: 40px;
    line-height: 40px;
    vertical-align: middle;
}
#background_home {
    background-image: url(http://www.aspiretransforms.com/wp-content/uploads/2016/01/education-banner.jpg);
    background-repeat: repeat;
    margin-left: -89.5px;
    margin-right: -89.5px;
    padding-left: 89.5px;
    padding-right: 89.5px;
    border-left: 0px;
    border-right: 0px;
    min-height: 500px
}
.overlay-black:before,
.overlay-primary:before {
    background: rgba(0, 0, 0, 0.58);
}
#panel-top {
    margin-top: 15%;
}
#btn_reigter {
    margin-top: 15px;
}
.js-num {
    display: block !important;
}
.mempal-button {
    padding: 7px 10px !important;
}
.course-box h3 .inner {
    padding-top: 20px
}
#content {
    background-image: url('https://d107cgb5lgj7br.cloudfront.net/img/backgrounds/noise-grey.v1.png');
    padding-top: 3%
}
.share-box {
    background: #fff;
    border-radius: 6px;
    border: 1px solid #fff;
    padding: 8px 5px;
}
.buttons-wrap div {
    margin-bottom: 10px;
}
.progress {
    height: 10px !important;
}
.user-box img {
    width: 100%;
    height: 100px;
    max-height: 90%;
}
.user-box .username {
    font-size: 13px !important;
    margin-left: 10px !important;
}
.session-header.learn {
    display: block;
    position: fixed;
    z-index: 1000;
}
#central-area {
    display: block;
}
button.next-button {
    display: inline-block;
}
.progress-bar{
    max-width: 100%;
}
.activitys{
    padding-bottom: 5%;
}
.profile_user{
    padding: 3%;
}

.profile_User{
    color: #eee9dc;
background: #48b379 !important;
}
.relative label{
  padding-top: 2%;
}
.people-rowsa{
    height: 588px;
    overflow-y: scroll;
}
